ul.nav li.dropdown:hover ul.dropdown-menu { display: block; }
h1 a{ display: inline-block; background: url('../img/logo_pluma.png') no-repeat; height: 100px; padding: 20px 0 0 100px; color: black; }
h1 a:hover { text-decoration: none; color: black; }
h2 a { color: black; }

h1, h2, h3 { font-family: georgia, serif; }
p.pubdate { font-style: italic; font-size: 0.9em; }

.sidebar h3 { font-size: 1em; line-height: 1.2em; margin-bottom: 0; }
.sidebar ul { margin-left: 0; list-style-type: none; }

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: 0px;
    bottom: auto;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
    background: #333333;
}
/* Loader by carousel*/
.loader
{
    background-image: url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}
/* Valid by Contact form */
label.valid {
    width: 16px;
    height: 16px;
    background: url('../img/bullet_valid.png') center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    padding: 6px 8px;
    margin-top: 2px;
}
/* Iframe Media */
.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}